* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.3rem;
    background-color:  #0a112f;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo-materias{
    padding-bottom: 10rem;
    color: yellow;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    counter-reset: grid-counter;
}

.title-materia{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-right: 30rem;
}

.img{
    width: 23rem;
    height: 23rem;
}

.materias{
    color: #ffffff;
}

.titulos{
    padding-bottom: 3rem;
    flex-direction: row;
    color: yellow;
    font-size: 2.5rem;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    counter-reset: grid-counter;
}

.materias-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 0, auto;
    max-width: 100rem;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

footer{
    color: white;
    background-color: rgb(127, 125, 125);
    justify-content: center;
    align-items: center;
}

a:link{
    text-decoration: none;
    color: white;
}